
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="content-wrapper">
    <div class="row">

        <div class="col-md-4">
            <div class="panel panel-body text-center">
                <a href="@Url.Action("Gider","Finans")">


                    <p class="text-muted content-group-sm"><i class="icon-3x icon-exit text-info"></i></p>
                    <h5 class="no-margin text-semibold">Gider</h5>

                </a>
            </div>

        </div>


        <div class="col-md-4">
            <div class="panel panel-body text-center">
                <a href="@Url.Action("Gelir","Finans")">

                    <p class="text-muted content-group-sm"><i class="icon-3x icon-enter text-info"></i></p>
                    <h5 class="no-margin text-semibold">Gelir</h5>

                </a>
            </div>

        </div>



        <div class="col-md-4">
            <div class="panel panel-body text-center">
                <a href="@Url.Action("Kasa","Finans")">

                    <p class="text-muted content-group-sm"><i class="icon-3x icon-safe text-info"></i></p>
                    <h5 class="no-margin text-semibold">Kasa</h5>

                </a>
            </div>

        </div>

    </div>

</div>