
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<a href="@Url.Action("ProjeAyarlari_Index","SistemAyarlari")">Proje Ayarları</a>  /
<a href="@Url.Action("Sistemiletisimi_Index","SistemAyarlari")">Sistem  iletişimi</a>



