
@{
    ViewBag.Title = "Sistemiletisimi_Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sistemiletisimi_Index</h2>





<a href="@Url.Action("Sistemiletisimi_OtomatikIletisim","SistemAyarlari")">Otomatik İletişim</a>  /
<a href="@Url.Action("Sistemiletisimi_IletisimHareketleri","SistemAyarlari")">iletişim hareketleri</a>

