
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("Kategori", "Destek")">Kategoriler</a>
<a href="@Url.Action("Bildirim", "Destek")">Bildirimler</a>