@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>INOTR DENEME</h1>
    <p class="lead">InoTr - Inovasyonun Türkçesi</p>
    <p><a href="http://basit.inotr.com.tr/" class="btn btn-primary btn-lg">Mevcut inotr-basit web sitesi &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
       
    </div>
    
</div>