
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<a href="@Url.Action("Talep","Satis")">Talep</a>  /
<a href="@Url.Action("Teklif","Satis")">Teklif</a>/
<a href="@Url.Action("Siparis","Satis")"> Sipariş</a> /

