
@{
    ViewBag.Title = "Talep";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="content-wrapper">
    <div class="row">

        <div class="col-md-6">
            <div class="panel panel-body text-center">
                <a href="@Url.Action("Talep_Talep","Satis")">


                    <p class="text-muted content-group-sm"><i class="icon-3x icon-file-text text-info"></i></p>
                    <h5 class="no-margin text-semibold">Talep</h5>

                </a>
            </div>

        </div>


        <div class="col-md-6">
            <div class="panel panel-body text-center">
                <a href="@Url.Action("Talep_MusteriAday","Satis")">

                    <p class="text-muted content-group-sm"><i class="icon-3x icon-people text-info"></i></p>
                    <h5 class="no-margin text-semibold">Müşteri Aday</h5>

                </a>
            </div>

        </div>


    </div>

</div>

