
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<a href="@Url.Action("PosBilgileri","OdemeAyarlari")">Pos Bilgileri</a>  /
<a href="@Url.Action("BankaHesapBilgileri","OdemeAyarlari")">Banka Hesap Bilgileri</a>
