<!-- Mirrored from demo.interface.club/limitless/layout_3/LTR/default/login_simple.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Nov 2017 10:06:00 GMT -->
<!-- Added by HTTrack --><meta http-equiv="content-type" content="text/html;charset=UTF-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Limitless - Responsive Web Application Kit by Eugene Kopyov</title>
    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="/assets/css/icons/icomoon/styles.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/core.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/components.css" rel="stylesheet" type="text/css">
    <link href="/assets/css/colors.css" rel="stylesheet" type="text/css">
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script type="text/javascript" src="/assets/js/plugins/loaders/pace.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/core/libraries/bootstrap.min.js"></script>
    <script type="text/javascript" src="/assets/js/plugins/loaders/blockui.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script type="text/javascript" src="assets/js/core/app.js"></script>
    <!-- /theme JS files -->
</head>
<body class="navbar-bottom login-container">

    <script>
        $(document).ready(function () {
            $('#mesajAlani').hide()
            $('.submit_on_enter').keydown(function (event) {
                if (event.keyCode == 13) {
                    GirisYap();
                    return false;
                }
            });
        });
        function GirisYap() {
            $("#btnGiris").prop("disabled", true);
            $('#Loading').show();
            $.ajax({
                url: "/Login/Index",
                type: "POST",
                data: $("#frmGiris").serialize(),
                success: function (result) {
                    if (result == "OK") {
                        $('#mesajAlani').hide();
                        $("#btnGiris").prop("disabled", true);
                        $('#Loading').show();
                        $('#loading-message').html("");
                        $('#loading-message').html("Yönlendiriliyor...");
                        window.location = "/Home";
                    }
                    else {
                       
                        $('#mesajAlani').show();
                        $("#mesaj").html(result);
                        $("#btnGiris").prop("disabled", false);
                        $('#Loading').hide();
                        $('#loading-message').html = "Kontrol ediliyor...";
                    }
                }
            });
        }

        function GKResimYenile() {
            $.ajax({
                url: "/Login/KodYenile",
                type: "GET",
                success:
                    function (result) {
                        $('#gk-resim').html("");
                        $('#gk-resim').html(result);
                        $('#gkodu').val("");
                        $('#gkodu').focus();
                    },
                error: function (xhr, ajaxOptions, thrownError) {
                    alert("HATA");
                }
            });
        }
    </script>
    <!-- Main navbar -->
    <div class="navbar navbar-inverse">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html"><img src="assets/images/logo_light.png" alt=""></a>
            <ul class="nav navbar-nav pull-right visible-xs-block">
                <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            </ul>
        </div>
        <div class="navbar-collapse collapse" id="navbar-mobile">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="#">
                        <i class="icon-display4"></i> <span class="visible-xs-inline-block position-right"> Go to website</span>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="icon-user-tie"></i> <span class="visible-xs-inline-block position-right"> Contact admin</span>
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-cog3"></i>
                        <span class="visible-xs-inline-block position-right"> Options</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page container -->
    <div class="page-container">
        <!-- Page content -->
        <div class="page-content">
            <!-- Main content -->
            <div class="content-wrapper">
                <!-- Simple login form -->
                <form id="frmGiris">
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                            <h5 class="content-group">InoTr Giriş<small class="display-block">Kullanıcı Bilgilerinizi Giriniz</small></h5>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" name="Adi" class="form-control" placeholder="Kullanıcı Adı">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" name="Parola" class="form-control" placeholder="Parola">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="button" onclick="GirisYap(); return false;" class="btn btn-primary btn-block">Giriş<i class="icon-circle-right2 position-right"></i></button>
                        </div>
                        <div class="text-center">
                            <a href="login_password_recover.html">Şifremi Unuttum</a>
                        </div>
                    </div>
                </form>
                <!-- /simple login form -->
            </div>
            <!-- /main content -->
        </div>
        <!-- /page content -->
    </div>
    <!-- /page container -->
    <!-- Footer -->
    <div class="navbar navbar-default navbar-fixed-bottom footer">
        <ul class="nav navbar-nav visible-xs-block">
            <li><a class="text-center collapsed" data-toggle="collapse" data-target="#footer"><i class="icon-circle-up2"></i></a></li>
        </ul>
        <div class="navbar-collapse collapse" id="footer">
            <div class="navbar-text">
                &copy; 2015. <a href="#" class="navbar-link">Limitless Web App Kit</a> by <a href="http://themeforest.net/user/Kopyov" class="navbar-link" target="_blank">Eugene Kopyov</a>
            </div>
            <div class="navbar-right">
                <ul class="nav navbar-nav">
                    <li><a href="#">About</a></li>
                    <li><a href="#">Terms</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /footer -->
</body>
<!-- Mirrored from demo.interface.club/limitless/layout_3/LTR/default/login_simple.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 02 Nov 2017 10:06:00 GMT -->







































