
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<a href="@Url.Action("Kategori","SatinAlma")">  Kategoriler</a>  /
<a href="@Url.Action("Tedarikci","SatinAlma")">Tedarikçiler</a>/

<a href="@Url.Action("Teklif","SatinAlma")">Teklif</a> /
<a href="@Url.Action("Siparis","SatinAlma")">Sipariş</a>



