
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>



<a href="@Url.Action("Urunler","UrunHizmet")">Urunler-Hizmetler</a>  /
<a href="@Url.Action("Kategoriler","UrunHizmet")">Kategoriler</a>/

<a href="@Url.Action("StokHareketleri","UrunHizmet")">Stok Hareketleri</a>/
